
*{
    padding:0;
    margin:0;
}

body{
    font-family:"Roboto";
    background:#f3f3f3;
}

h2{

    text-align:center;

    margin-top:20px;
    margin-bottom:30px;

    color:#03045e;
}


.tabla-canciones{

    width:90%;


    border-spacing:25px;

    margin-top:30px;
    margin-right:auto;
    margin-bottom:60px;
    margin-left:auto;

    text-align:center;
}



.tabla-canciones td{

    border:5px solid #ffffff;

    background:rgb(255, 207, 117);


    padding-top:20px;
    padding-right:20px;
    padding-bottom:30px;
    padding-left:20px;

    width:250px;
}



.tabla-canciones img{

    width:80%;
    border:4px solid black;

    margin-top:10px;
    margin-bottom:15px;
}

.tabla-canciones a{

    text-decoration:none;
    color:#03045e;
    font-size:20px;
    font-weight:bold;
}

.tabla-canciones a:hover{

    color:red;
}