* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "calibri light";
}

.contenedor {
    background: tomato;
    width: 80%;
    margin: auto;
}

header {
    height: 400px;
    background-image: url("../css/portada.jpg");
    background-position: center;
    background-size: cover;
}

main {
    background: white;
    padding: 20px 30px;
}

/* FOTO CENTRADA */
main .foto {
    width: 150px;
    height: 150px;
    background-color: teal;
    border-radius: 50%;
    margin: -90px auto 20px auto;
    border: 6px solid #ffffff;
}

main .foto img {
    width: 100%;
    border-radius: 50%;
}

/* TEXTO */
.texto {
    text-align: center;
}

/* BOTON CENTRADO */
.uno {
    width: 50%;
    border: 3px solid #000000;
    background: #eb7fb1;
    margin: 20px auto;
    border-radius: 50px;
    text-align: center;
    padding: 5px;
}

/* LINK DEL BOTON */
.uno a {
    color: #ffffff;
    text-decoration: none;
    display: block;
}

footer {
    background: rgb(137, 53, 109);
    text-align: center;
    padding: 25px;
    color: #ffffff;
}